<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automaticUpdates</key>
	<false/>
	<key>defaultApps</key>
	<array>
		<dict>
			<key>NSApplicationName</key>
			<string>Finder</string>
			<key>NSApplicationPath</key>
			<string>/System/Library/CoreServices/Finder.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Safari</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Safari.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Music</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Music.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>Mail</string>
			<key>NSApplicationPath</key>
			<string>/Applications/Mail.app</string>
		</dict>
		<dict>
			<key>NSApplicationName</key>
			<string>System Preferences</string>
			<key>NSApplicationPath</key>
			<string>/Applications/System Preferences.app</string>
		</dict>
	</array>
	<key>defaultAppsFolder</key>
	<string>~/Library/EnergyBar/Applications</string>
	<key>mainWindowHidden</key>
	<false/>
	<key>acceptsDraggedItems</key>
	<false/>
	<key>clockShowsBatteryStatus</key>
	<false/>
	<key>clockShowsBatteryTimeRemaining</key>
	<false/>
	<key>clockShowsWeatherOnTap</key>
	<false/>
	<key>dockMagnification</key>
	<false/>
	<key>ignoresAccidentalTouches</key>
	<false/>
	<key>nowPlayingShowsSmallWidget</key>
	<false/>
	<key>shows24HourClock</key>
	<false/>
	<key>showsActiveAppOnTap</key>
	<false/>
	<key>showsTodoOnTap</key>
	<false/>
	<key>showsFoldersInTouchBar</key>
	<false/>
	<key>showsRunningApps</key>
	<false/>
	<key>showsTrash</key>
	<false/>
	<key>todoShowsEvents</key>
	<true/>
	<key>todoShowsEventsHours</key>
	<integer>24</integer>
	<key>todoShowsReminders</key>
	<false/>
	<key>weatherShowsFahrenheit</key>
	<false/>
	<key>showsAlbumArt</key>
	<true/>
</dict>
</plist>
